#version=RHEL8
# Use graphical install
#graphical

# Use Text interface
text
skipx

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

selinux --enforcing
firewall --enabled --ssh
authselect select sssd with-smartcard with-smartcard-lock-on-removal with-faillock with-mkhomedir

eula --agreed

%packages
@^server-product-environment
@security-tools
@smart-card
aide
audit
fapolicyd
firewalld
opensc
openscap
openscap-scanner
openssh-server
openssl-pkcs11
policycoreutils
rng-tools
rsyslog
rsyslog-gnutls
scap-security-guide
tmux
usbguard
git
virt-who
-abrt
-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-addon-python
-abrt-cli
-abrt-plugin-logger
-abrt-plugin-rhtsupport
-abrt-plugin-sosreport
-iprutils
-krb5-workstation
-rsh-server
-sendmail
-telnet-server
-tftp-server
-tuned
-vsftpd
-xorg-x11-server-Xorg
-xorg-x11-server-Xwayland
-xorg-x11-server-common
-xorg-x11-server-utils

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
#network  --hostname=localhost.localdomain
network  --activate --bootproto=dhcp --noipv6 --hostname=$(date +%d%b%y-%H%M%S)-fresh_install.localdomain

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
#firstboot --enable
firstboot --reconfig

ignoredisk --only-use=sda
# Partition clearing information
clearpart --all --initlabel
bootloader --location=mbr --iscrypted --timeout=30 --password=grub.pbkdf2.sha512.10000.77F6B9A808BD88EF85F76074D410921FFDFA6D935A05E1CD5591763D9BF3C2D96293E3250ED9DFE2EF4A9E87FF51EEE77B563D6843B5CEF4867F264D753E81BF.71C66EFD99EBBA56E01CED768710235BE201FFE2CCFC3AC3F7C1F128D1CF013899A741B3F6F820A525837BC1CE934FCD8D98E41472BD8C7D46920872B7D782A8
# Disk partitioning information
part /boot/efi --fstype="efi" --ondisk=sda --recommended --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="xfs" --ondisk=sda --recommended
part pv.1144 --fstype="lvmpv" --ondisk=sda --grow
volgroup inscomgisa --reserved-percent=25 pv.1144
logvol /home --fstype="xfs" --recommended --name=home --vgname=inscomgisa
logvol /var --fstype="xfs" --recommended --name=var --vgname=inscomgisa
logvol /opt/splunkforwarder --fstype="xfs" --size=2048 --name=opt_splunkforwarder --vgname=inscomgisa
logvol /var/log/audit --fstype="xfs" --recommended --name=var_log_audit --vgname=inscomgisa
logvol / --fstype="xfs" --recommended --name=root --vgname=inscomgisa
logvol /var/log --fstype="xfs" --recommended --name=var_log --vgname=inscomgisa
logvol swap --fstype="swap" --recommended --name=swap --vgname=inscomgisa
logvol /opt --fstype="xfs" --recommended --name=opt --vgname=inscomgisa
logvol /var/tmp --fstype="xfs" --recommended --name=var_tmp --vgname=inscomgisa
logvol /tmp --fstype="xfs" --recommended --name=tmp --vgname=inscomgisa

# System timezone
timezone Etc/GMT --isUtc --nontp

# Root password
rootpw --lock --iscrypted $6$hfYOqqIu/jpEKtaG$9cmijyiiU42Cs2ifY9mBLXPRmomH34dtyGn/uFy0rW6RzMi543g8agDFH8ktIQFyWSeaoAh.6yExUdbYto5dj/

user --name=gisa.adm --gecos="GISA Installation Admin account" --groups=wheel --iscrypted $6$A5kriwzPGPhMB.Fz$U33luCG468zb9aHUS9CYLUfKSBFJFaL.NEiBF8bUskKmpZhExtI5xjw9Dnvv20nig3gv6QijrtgSCCqyaKDOo.

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end
%addon org_fedora_oscap
    content-type = scap-security-guide
    datastream-id = scap_org.open-scap_datastream_from_xccdf_ssg-rhel8-xccdf-1.2.xml
    xccdf-id = scap_org.open-scap_cref_ssg-rhel8-xccdf-1.2.xml
    profile = xccdf_org.ssgproject.content_profile_stig
%end


%anaconda
pwpolicy root --minlen=15 --minquality=35 --strict --nochanges --notempty
pwpolicy user --minlen=15 --minquality=35 --strict --nochanges --notempty
%end
